* {
    margin: 0%;
}

body{
    font-family: "Nunito", sans-serif;
    color: blanchedalmond;
}
.header{
background-color:crimson;
    color:#ffffff;
    height: 10vh;
    position:sticky;
    top: 0;
    z-index:10;

}

.navegacion{
display: flex;
justify-content: space-between;
align-items: center;
margin-left:40px;
margin-right: 40px;
padding: 1.5rem 0;
}
.anclaLogo{
text-decoration: none;
color: #ffffff;
font-weight: 700;
font-size: 1.2rem;
}
      
 .listaNav{
     list-style: none;
     display: flex;
     align-items: center;  
} 

 .listaItem{
   margin-right:20px;  
}
 .linkNav{
text-decoration: none;
color:#ffffff;
font-weight: 700;
font-size: 1.1rem;
padding: 0.5rem 1rem;
transition: transform 0.3s, box-shadow 0.3s;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
border-radius: 5px;
}
                
            
.linkNav.iniciarSesion{
background-color: #181419;
color: white;
border-radius: 5px;
transition: transform 0.3s, box-shadow 0.3s;
transform: scale(0.95);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
.main{

.seccionprimaria {
    background:linear-gradient(to right top, #0000008a, #0000008a), url(fondobanner.jpg);
    background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
}
.tituloprincipal{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.titulosecunadario{
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.botonregistro{
    background-color: crimson;
    color: white;
    padding: 0% 10px;
    margin: 20px 10 px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;

}
}
.buscadorprincipal{
        background-color: #181419;
        color:rgb(255, 255, 255);
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.quebuscas{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.buscapeli{
    display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
}
.botonbuscar{
    background-color: crimson;
                display: inline-block;
                color:#ffffff;
                height: 50px;
                margin: 20px 10px;
                padding:0 20px;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2px solid white;
                text-align: center;
}
.inputBuscador{
    border: 2px solid white;
    border-radius: 25px;
    color: #000000;
    font-size: 1.2rem;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 500px;
}

.peliculasTendencia{
    
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
    .tituloSection{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

.tituloSection{
    font-family: "nunito";
    color: black;
}
.peliculas{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:60px;
        text-decoration: none;
            color: #ffffff;
}
.piculasAclamadas{
    
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom:60px;
}
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }

.aclamadas{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 0px 40px 0px;
}
section{
    text-align: center;
}

.cambio-inline li {
    display: inline;
    
}
.cambio-inline li :hover {
   color: crimson;
   cursor: pointer;
}

.titulo{
    margin-top: 200px;
    margin-left: auto;
}
#oscuro {
    background-color: black;
    padding: 0.5px;
}

.borderimage{
    height: 700;
    padding: 50;
}

.secciontitulo {
    text-align: center;
}
.cambioinlinea li {

  display: inline;
}

.cambioinlinea li :hover {
    color: black;
    cursor: pointer;
}

.boton{
    background-color: crimson;
    display: inline-block;
    color:#ffffff;
    height: 50px;
    margin: 20px 10px;
    padding:0 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid white;
    text-align: center;
    
}



.footer{
    background-color: crimson;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listaNav{
        list-style: none;
        display: flex;
        align-items: center;
}
.listaItem{
margin-left:20px;
}
            .linkNav{
                text-decoration: none;
                color:#ffffff;
                font-weight: 700;
                font-size: 1.2rem;
            }
.administradorPeliculas{
background-color: black;
color: white;
padding: 0.5rem 1rem;
border-radius: 5px;
            
}
